.form-hero {
    min-height: 40vh;
    display: grid;
    background-image: url(/assets/img/form.webp);
    background-size: cover;
    background-position: center bottom;
    place-items: center;
    padding-inline: var(--len-lg);
}

.main-form {
    padding-block-start: var(--len-xl);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--len-md);
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (width < 1000px) {
    .main-form {
        grid-template-columns: 1fr;
    }
}
