.main-thank-you {
    background-image: url('../img/form_and_thank_you.webp');
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: 100svh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-thank-you > .container {
    z-index: 1;
    text-align: center;
    text-wrap: pretty;
}

.thank-you-overlay {
    position: absolute;
    inset: 0;
    background: var(--clr-main-800);
    opacity: 0.5;
}

.leftside,
.left-side {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: white; /* sfondo leggermente scuro per leggere meglio il testo */
    border: 1px;
    border-style: solid;
    border-color: black;
}
