*, *::after, *::before{
box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url('../img/bottiglie.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.__input{
    text-align: center;
    font-size: 3rem;
    padding: .5em;
}

.form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 60vh;
    min-width: 70vw;
    z-index: 1;
}

.form::before{
    
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    backdrop-filter: blur(20px);
        z-index: -1;
}